<strong>Olá, {{ student }}</strong>
<p>Recebemos e respondemos o seu questionamento, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data/Hoda da resposta: </strong> {{ answer_at }} <br>
  <br />
  <small>
    Obrigado por fazer parte da <strong>GymPoint</strong>.
  </small>
</p>
